*{
    font-size:30px;
}
div{
    margin: 10px;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
